*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f4f4f4;
color:#333;
}

header{
background:#1818b0;
color:#ffffff;
padding:30px;
text-align:center;
}

nav{
  display:flex;
  font-size:10px;
margin-top:20px;
}
h1{
  font-size: 29px;
}
nav a{
text-decoration:none;
color:#acabab;
margin:10px;
font-weight:bold;
}

section{
  width: 100%;
padding:20px;
max-width:1000px;
margin:auto;
}

.btn{
    background:#1818b0;
    color:white;
    border:none;
    padding:12px 25px;
    font-size:16px;
    font-weight:600;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s ease;
}

.btn:hover{
    background:#1818b0;
    transform:translateY(-3px);
    box-shadow:0 6px 15px rgba(37,99,235,0.4);
}

.btn:active{
    transform:scale(0.98);
}

h2{
margin-bottom:20px;
color:#1e3a8a;
}

ul{
padding-left:20px;
}

li{
margin-bottom:10px;
}

.card{
background:white;
padding:20px;
margin:20px 0;
border-radius:10px;
box-shadow:0 2px 8px rgba(0,0,0,.2);
}

.card:hover{
transform:translateY(-5px);
transition:.3s;
}

footer{
background:#1e3a8a;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}
